body {
  font-family: "Roboto", sans-serif;
  background-color: var(--brand-color-white);
  color: var(--brand-color-dark-grey);
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

:root {
  --brand-color-dark-grey: #212121;
  --brand-color-white: #ffffff;
  --brand-color-grey: #757575;
  --brand-color-blue: #2196f3;
  --brand-color-black: #000000;
  --brand-color-background-black: #2f303a;
  --brand-color-light-grey: #f5f4fa;
  --brand-color-bg-hero: #2f303a66;
  --brand-color-bg-footer-icon: #ffffff1a;
  --brand-color-icon: #afb1b8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.topper {
  border-bottom: 1px solid #ececec;
}

.header-left {
  display: flex;
  align-items: center;
}

.first {
  display: flex;
  align-items: center;
}

.link-logo-header {
  font-family: Raleway;
  font-weight: 700;
  text-decoration: none;
  line-height: 1.19;
  letter-spacing: 0.02em;
  text-align: left;
  font-size: 26px;
  margin-top: 24px;
  margin-bottom: 25px;
  margin-right: 93px;
}

.second {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav-item {
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--brand-color-dark-grey);
  display: flex;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--brand-color-blue);
}

.link-current {
  color: var(--brand-color-blue);
}

.link-current::after {
  content: "";
  position: absolute;
  bottom: -34px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--brand-color-blue);
  pointer-events: none;
  transition: color, 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}

.link-current:hover,
.link-current:focus {
  color: var(--brand-color-blue);
  outline: none;
}

.contact {
  color: var(--brand-color-grey);
  text-decoration: none;
  text-align: left;
  letter-spacing: 0.02em;
  font-weight: 500;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-contact:not(:last-child) {
  margin-right: 50px;
}

.contact:hover,
.contact:focus {
  color: var(--brand-color-blue);
  outline: transparent;
}

.icon-contact {
  fill: currentColor;
  vertical-align: middle;
  margin-right: 10px;
}

.black {
  color: var(--brand-color-black);
}

.blue {
  color: var(--brand-color-blue);
}

.white {
  color: var(--brand-color-white);
}

/* Hero section */
.background-hero {
  padding: 200px 0;
  background-image: linear-gradient(
      var(--brand-color-bg-hero),
      var(--brand-color-bg-hero)
    ),
    url(../images/bg-images/underlay.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
}

.hero-tittle {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  text-align: center;
  color: var(--brand-color-white);
  letter-spacing: 0.06em;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 696px;
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--brand-color-white);
  letter-spacing: 0.06em;
  background-color: var(--brand-color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  text-align: center;
  min-width: 200px;
  height: 50px;
  margin: 0 auto;
  padding: 10px 41px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* lorem ipsum section */
.technologies {
  background-color: var(--brand-color-light-grey);
  height: 120px;
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  fill: var(--brand-color-dark-grey);
}

/* lorem section */
.lorem-list {
  display: flex;
  gap: 30px;
}

.lorem-tittle {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  font-style: bold;
  margin-bottom: 10px;
  font-size: 14px;
}

.lorem-description {
  text-align: left;
  color: var(--brand-color-grey);
  line-height: 1.71;
}

/* work section */
.work {
  padding-top: 0;
}

.work-list {
  display: flex;
  gap: 30px;
}

.second-tittles {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.box-overlay-work {
  position: relative;
}

.text-overlay-work {
  text-transform: uppercase;
  color: var(--brand-color-white);
  font-weight: 700;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: #2f303acc;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* our team  */
.team {
  text-align: center;
  background-color: var(--brand-color-light-grey);
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--brand-color-white);
}

.team-presentaction {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team p {
  line-height: 1.18;
  font-size: 16px;
  color: var(--brand-color-grey);
  letter-spacing: 0.03em;
  margin-top: 10px;
}

.social-media-box {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 16px;
}

.social-media {
  color: var(--brand-color-icon);
  border-radius: 50%;
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-icon {
  fill: currentColor;
}

.social-media:hover,
.social-media:focus {
  background-color: var(--brand-color-blue);
  color: var(--brand-color-white);
  outline: transparent;
}

/* our clients */
.clients {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.clients-li {
  color: var(--brand-color-icon);
  border: 1px solid currentColor;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-li-icon {
  fill: currentColor;
}

.clients-li:hover,
.clients-li:focus {
  color: var(--brand-color-blue);
  border-color: var(--brand-color-blue);
  outline: transparent;
}

/* footer */
.background-dark {
  background-color: var(--brand-color-background-black);
  padding: 200px 0;
}

.footer {
  padding: 60px 0;
}

.container-right {
  display: flex;
  align-items: baseline;
}

.footer-container {
  margin-right: 70px;
}

.contact-down {
  font-style: normal;
  margin-top: 20px;
}

.third {
  display: block;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.link-logo-footer {
  font-family: Raleway;
  font-weight: 700;
  text-decoration: none;
  line-height: 1.19;
  letter-spacing: 0.02em;
  text-align: left;
  font-size: 26px;
}

.footer-contact-bright {
  color: var(--brand-color-white);
  text-decoration: none;
  margin-top: 20px;
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact-bright:hover,
.footer-contact-bright:focus {
  color: var(--brand-color-blue);
}

.footer-contact-light {
  filter: opacity(60%);
  text-decoration: none;
  color: var(--brand-color-white);
  margin-top: 9px;
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact-light:hover,
.footer-contact-light:focus {
  color: var(--brand-color-blue);
}

.join-us-tittle {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  font-size: 14px;
  color: var(--brand-color-white);
}

.under {
  background-color: var(--brand-color-bg-footer-icon);
}

.newsletter-section {
  margin-left: auto;
}

.newsletter-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--brand-color-white);
}

.newsletter-part {
  margin-top: 20px;
  display: flex;
  position: relative;
}

.newsletter-input {
  padding-left: 16px;
  width: 358px;
  height: 50px;
  color: #ffffff99;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  outline: transparent;
}

.newsletter-btn {
  text-align: left;
}

.newsletter-svg {
  position: absolute;
  fill: var(--brand-color-white);
  bottom: 12px;
  right: 20px;
}

/* portfolio */
.label-btn {
  display: flex;
  gap: 8px;
  margin-bottom: 56px;
  justify-content: center;
}

.filters-btn {
  font-weight: 500;
  background-color: var(--brand-color-light-grey);
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.03em;
  font-family: inherit;
  padding: 6px 25px;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-btn:hover,
.filters-btn:focus {
  background-color: var(--brand-color-blue);
  color: var(--brand-color-white);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

/* karty portfolio */
.cards {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 30px;
}

.cadrs-list {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-list:hover,
.cards-list:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  display: block;
  outline: transparent;
}

.box-overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #2196f3e5;
  outline: transparent;
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-list:hover .overlay,
.cards-list:focus .overlay {
transform: translateY(0%);
}

.overlay > p {
  font-size: 18px;
  line-height: 1.75;
  color: var(--brand-color-white);
  padding: 49px 45px 49px 24px;
}

.services {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.kind-of-services {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  text-align: left;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--brand-color-dark-grey);
}

.group-of-services {
  font-size: 16px;
  line-height: 1.87;
  text-align: left;
  color: var(--brand-color-grey);
}

/* modal windows */
.backdrop {
  background-color: #00000033;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--brand-color-white);
  box-shadow: 0px 2px 1px 0px;
  box-shadow: 0px 1px 1px 0px;
  box-shadow: 0px 1px 3px 0px;
  border-radius: 4px;
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--brand-color-white);
  border-radius: 50%;
  border: 1px solid #0000001a;
  color: var(--brand-color-black);
  font-size: 20px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.order-servise-form {
  display: flex;
  flex-direction: column;
 }

.order-servise-form p {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--brand-color-black);
  margin-bottom: 2px;
}

.form-label {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--brand-color-dark-grey); 
  margin-top: 10px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label:hover,
.form-label:focus {
  fill: var(--brand-color-blue);
}

.form-input {
  padding: 8px;
  font-family: inherit;
  margin-top: 4px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  color: var(--brand-color-grey);
  outline: transparent;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.form-input:focus,
.form-input:hover {
  border-color: var(--brand-color-blue);
  outline: transparent;
}

.form-svg {
  position: absolute;
  top: 40px;
  left: 16px;
  transform: translateY(-50%);
}
.form-svg:focus,
.form-svg:hover {
  fill: var(--brand-color-blue);
}

.form-textarea {
  height: 120px;
  resize: none;
  font-family: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: transparent;
  border-radius: 4px;
  color: var(--brand-color-grey);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 12px 16px;
}

.form-textarea:focus,
.form-textarea:hover {
  border-color: var(--brand-color-blue);
}

.acceptation {
 margin: 0 auto;
 position: relative;
}

.submit-btn {
  margin-top: 30px;
}

.rules {
  color: var(--brand-color-blue);
  text-decoration: underline;
}

.checkbox-oryginal {
  opacity: 0;
  margin-right: 9px;
}

.checkbox-svg {
  position: absolute;
  left: 0px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--brand-color-white);
  border: 1px solid var(--brand-color-black);
  border-radius: 2px;
}

.checkbox-oryginal:checked + .checkbox-svg {
  background-color: var(--brand-color-blue);
  border-color: var(--brand-color-blue);
}
